<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="section-title">
      <h2>Portfolio</h2>
      <p>Mis trabajos</p>
    </div>

    <div class="row">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="portfolio-flters">
          <li data-filter="*" class="filter-active">Todo</li>
          <li data-filter=".filter-web">Web Developer</li>
          <li data-filter=".filter-cm">Community Manager</li>
          <li data-filter=".filter-managemet">Management</li>
        </ul>
      </div>
    </div>

    <div class="row portfolio-container">
      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
          <div
            class="corte-imagen"
            style="
              width: 600px;
              height: 300px;
              background-image: url('assets/img/portfolio/biason-automotores.png');
              background-size: cover;
              background-position: 0 -2430px;
            "
          ></div>
          <div class="portfolio-info">
            <h4>Biason Automotores</h4>
            <p>Agencia de Compra venta de Vehículos</p>
            <div class="portfolio-links">
              <a
                href="assets/img/portfolio/biason-automotores.png"
                data-gallery="portfolioGallery"
                class="portfolio-lightbox"
                title="Biason Automotores"
                ><i class="bx bx-plus"></i
              ></a>
              <a
                href="https://biasonautomotores.com.ar/"
                data-gallery="portfolioDetailsGallery"
                data-glightbox="type: external"
                class="portfolio-details-lightbox"
                title="Biason Automotores"
                ><i class="bx bx-link"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
          <div
            class="corte-imagen"
            style="
              width: 600px;
              height: 300px;
              background-image: url('assets/img/portfolio/escuela-futbol.png');
              background-size: cover;
              background-position: 0 -2430px;
            "
          ></div>
          <div class="portfolio-info">
            <h4>Escuela de Fútbol Rosales</h4>
            <p>Escuela de Formación de Fútbol</p>
            <div class="portfolio-links">
              <a
                href="assets/img/portfolio/escuela-futbol.png"
                data-gallery="portfolioGallery"
                class="portfolio-lightbox"
                title="Escuela de Formación de Fútbol Rosales"
                ><i class="bx bx-plus"></i
              ></a>
              <a
                href="https://www.escueladefutbolrosales.com.ar/"
                data-gallery="portfolioDetailsGallery"
                data-glightbox="type: external"
                class="portfolio-details-lightbox"
                title="Escuela de Formación de Fútbol Rosales"
                ><i class="bx bx-link"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
          <div
            class="corte-imagen"
            style="
              width: 600px;
              height: 300px;
              background-image: url('assets/img/portfolio/ml-legales.png');
              background-size: cover;
              background-position: 0 -2430px;
            "
          ></div>
          <div class="portfolio-info">
            <h4>ML Legales</h4>
            <p>Estudio Jurídico</p>
            <div class="portfolio-links">
              <a
                href="assets/img/portfolio/ml-legales.png"
                data-gallery="portfolioGallery"
                class="portfolio-lightbox"
                title="ML Legales"
                ><i class="bx bx-plus"></i
              ></a>
              <a
                href="https://mllegales.com.ar/"
                data-gallery="portfolioDetailsGallery"
                data-glightbox="type: external"
                class="portfolio-details-lightbox"
                title="ML Legales"
                ><i class="bx bx-link"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
          <div
            class="corte-imagen"
            style="
              width: 600px;
              height: 300px;
              background-image: url('assets/img/portfolio/labancaria.png');
              background-size: cover;
              background-position: 0 -2430px;
            "
          ></div>
          <div class="portfolio-info">
            <h4>La Bancaria</h4>
            <p>Seccional Santa Cruz</p>
            <div class="portfolio-links">
              <a
                href="assets/img/portfolio/labancaria.png"
                data-gallery="portfolioGallery"
                class="portfolio-lightbox"
                title="La Bancaria"
                ><i class="bx bx-plus"></i
              ></a>
              <a
                href="https://labancariasantacruz.org.ar/"
                data-gallery="portfolioDetailsGallery"
                data-glightbox="type: external"
                class="portfolio-details-lightbox"
                title="La Bancaria"
                ><i class="bx bx-link"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-cm">
        <div class="portfolio-wrap">
          <div
            class="corte-imagen"
            style="
              width: 600px;
              height: 300px;
              background-image: url('assets/img/portfolio/cm-biason.png');
              background-size: cover;
              background-position: 0 -2430px;
            "
          ></div>
          <div class="portfolio-info">
            <h4>Biason Automotores</h4>
            <p>Agencia de compra y venta del automotor</p>
            <div class="portfolio-links">
              <a
                href="assets/img/portfolio/cm-biason.png"
                data-gallery="portfolioGallery"
                class="portfolio-lightbox"
                title="Biason Automotores"
                ><i class="bx bx-plus"></i
              ></a>
              <a
                href="https://www.instagram.com/biasonautomotores/"
                data-gallery="portfolioDetailsGallery"
                data-glightbox="type: external"
                class="portfolio-details-lightbox"
                title="Biason Automotores"
                ><i class="bx bx-link"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-cm">
        <div class="portfolio-wrap">
          <div
            class="corte-imagen"
            style="
              width: 600px;
              height: 300px;
              background-image: url('assets/img/portfolio/cm-even.png');
              background-size: cover;
              background-position: 0 -2430px;
            "
          ></div>
          <div class="portfolio-info">
            <h4>Even Cabañas Prefabricadas</h4>
            <p>Construcción de Viviendas Prefabricadas</p>
            <div class="portfolio-links">
              <a
                href="assets/img/portfolio/cm-even.png"
                data-gallery="portfolioGallery"
                class="portfolio-lightbox"
                title="Even Cabañas Prefabricadas"
                ><i class="bx bx-plus"></i
              ></a>
              <a
                href="https://www.instagram.com/evenprefabricadas/"
                data-gallery="portfolioDetailsGallery"
                data-glightbox="type: external"
                class="portfolio-details-lightbox"
                title="Even Cabañas Prefabricadas"
                ><i class="bx bx-link"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-managemet">
        <div class="portfolio-wrap">
          <div
            class="corte-imagen"
            style="
              width: 600px;
              height: 300px;
              background-image: url('assets/img/portfolio/even.png');
              background-size: cover;
              background-position: 0 -2430px;
            "
          ></div>
          <div class="portfolio-info">
            <h4>Even Cabañas Prefabricadas</h4>
            <p>Construcción de Viviendas Prefabricadas</p>
            <div class="portfolio-links">
              <a
                href="assets/img/portfolio/even.png"
                data-gallery="portfolioGallery"
                class="portfolio-lightbox"
                title="Even Cabañas Prefabricadas"
                ><i class="bx bx-plus"></i
              ></a>
              <a
                href="https://www.instagram.com/evenprefabricadas/"
                data-gallery="portfolioDetailsGallery"
                data-glightbox="type: external"
                class="portfolio-details-lightbox"
                title="Even Cabañas Prefabricadas"
                ><i class="bx bx-link"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-managemet">
        <div class="portfolio-wrap">
          <div
            class="corte-imagen"
            style="
              width: 600px;
              height: 300px;
              background-image: url('assets/img/portfolio/tea.jpg');
              background-size: cover;
              background-position: 0 -2430px;
            "
          ></div>
          <div class="portfolio-info">
            <h4>Fundación TEA Santa Cruz</h4>
            <p>Organización Talleres y II Congreso Internacional</p>
            <div class="portfolio-links">
              <a
                href="assets/img/portfolio/tea.jpg"
                data-gallery="portfolioGallery"
                class="portfolio-lightbox"
                title="Fundación TEA Santa Cruz"
                ><i class="bx bx-plus"></i
              ></a>
              <a
                href="https://www.instagram.com/tea.santacruz/"
                data-gallery="portfolioDetailsGallery"
                data-glightbox="type: external"
                class="portfolio-details-lightbox"
                title="Fundación TEA Santa Cruz"
                ><i class="bx bx-link"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-cm">
        <div class="portfolio-wrap">
          <div
            class="corte-imagen"
            style="
              width: 600px;
              height: 300px;
              background-image: url('assets/img/portfolio/cm-7imperios.png');
              background-size: cover;
              background-position: 0 -2430px;
            "
          ></div>
          <div class="portfolio-info">
            <h4>7 Imperios</h4>
            <p>Ropa Juvenil Masculina</p>
            <div class="portfolio-links">
              <a
                href="assets/img/portfolio/cm-7imperios.png"
                data-gallery="portfolioGallery"
                class="portfolio-lightbox"
                title="7 Imperios"
                ><i class="bx bx-plus"></i
              ></a>
              <a
                href="https://www.instagram.com/7imperiosrgl/"
                data-gallery="portfolioDetailsGallery"
                data-glightbox="type: external"
                class="portfolio-details-lightbox"
                title="7 Imperios"
                ><i class="bx bx-link"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-cm">
        <div class="portfolio-wrap">
          <div
            class="corte-imagen"
            style="
              width: 600px;
              height: 300px;
              background-image: url('assets/img/portfolio/cm-melmac.png');
              background-size: cover;
              background-position: 0 -2430px;
            "
          ></div>
          <div class="portfolio-info">
            <h4>Melmac</h4>
            <p>Rotisería y Confitería</p>
            <div class="portfolio-links">
              <a
                href="assets/img/portfolio/cm-melmac.png"
                data-gallery="portfolioGallery"
                class="portfolio-lightbox"
                title="Melmac Rotisería y Confitería"
                ><i class="bx bx-plus"></i
              ></a>
              <a
                href="https://www.instagram.com/melmacrotiseriayconfiteria/"
                data-gallery="portfolioDetailsGallery"
                data-glightbox="type: external"
                class="portfolio-details-lightbox"
                title="Melmac Rotisería y Confitería"
                ><i class="bx bx-link"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Portfolio Section -->
