<section id="experiencia" class="experiencia">
  <div class="container">
    <div class="section-title">
      <h2>Formación y Experiencia</h2>
      <p>Formación Profesional y Experiencia laboral</p>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <h3 class="experiencia-title">Formación Profesional</h3>
        <div class="experiencia-item pb-0">
          <h4>Universidad Nacional de la Patagonia Austral (UNPA)</h4>
          <p>
            <em>Licenciado en Administración.</em>
          </p>
          <ul>
            <li>Periodo: jul-18</li>
          </ul>
        </div>

        <h3 class="experiencia-title">Cursos y Capacitaciones</h3>
        <div class="experiencia-item">
          <h4>INTI #YoProgramo 4ta Edición (Argentina Programa)</h4>
          <h5>Periodo: oct-22 - en curso</h5>
          <p>
            Desarrollo Web y Aplicaciones. Desarrollo Front End Estático y
            Dinámico. Base de datos. POO. Java. Back End con Spring Boot.
            DevOps.
          </p>
        </div>
        <div class="experiencia-item">
          <h4>Google Skill Shop</h4>
          <h5>Periodo: mar-23</h5>
          <p>Google Analytics</p>
        </div>
        <div class="experiencia-item">
          <h4>INTI #SeProgramar (Argentina Programa)</h4>
          <h5>Periodo: jul-22</h5>
          <p>GobStones. JavaScript. Ruby.</p>
        </div>
        <div class="experiencia-item">
          <h4>CODERHOUSE</h4>
          <h5>Periodo: mar-22 - may-22 // jun-22 - ago-22</h5>
          <p>Desarrollo Web // JavaScript.</p>
        </div>
        <div class="experiencia-item">
          <h4>NETWORK BUSINESS SCHOOL</h4>
          <h5>Periodo: feb-21 - jul-21</h5>
          <p>
            Máster en Marketing Digital y Analítica Web, Desarrollo de páginas
            web, contenido digital/multimedia y recursos informáticos.
          </p>
        </div>
        <div class="experiencia-item">
          <h4>INSTITUTO NACIONAL DE LA ADMINISTRACIÓN PÚBLICA (INAP)</h4>
          <h5>Periodo: jul-21</h5>
          <p>Curso Excel 2013 Avanzado: funciones avanzadas.</p>
        </div>
        <div class="experiencia-item">
          <h4>UNIVERSIDAD NACIONAL DE LA PATAGONIA AUSTRAL (UNPA)</h4>
          <h5>Periodo: jun-10</h5>
          <p>Marketing, Concepción y Aplicación Práctica.</p>
        </div>
      </div>
      <div class="col-lg-6">
        <h3 class="experiencia-title">Experiencia Laboral</h3>
        <div class="experiencia-item">
          <h4>EVEN CABAÑAS PREFABRICADAS</h4>
          <h5>Periodo: Oct-22 - Presente</h5>
          <p><em>Director de Administración y Finanzas. </em></p>

          <ul>
            <li>Administrar ingresos y egresos de la empresa.</li>
            <li>Establecer proyecciones financieras.</li>
            <li>Planificación y formulación de estrategias.</li>
          </ul>
        </div>
        <div class="experiencia-item">
          <h4>FREELANCE</h4>
          <h5>Periodo: Feb-21- Presente</h5>
          <p><em>Desarrollador Web y Community Manager.</em></p>
          <p>
            Desarrollo, mantenimiento y optimización web. Construcción, gestión
            y administración de redes sociales.
          </p>
        </div>
        <div class="experiencia-item">
          <h4>INSTITUTO SUPERIOR DE ENSEÑANZA TÉCNICA (InSET)</h4>
          <h5>Periodo: abr-22 - Presente</h5>
          <p><em>Docente.</em></p>

          <ul>
            Materias a cargo:
            <li class="mt-3">Derecho Laboral y Tributario.</li>
            <li>Principios de Administración.</li>
            <li>Gestión de Recursos Humanos.</li>
            <li>Diseño y Gestión de Procedimientos Administrativos.</li>
          </ul>
        </div>
        <div class="experiencia-item">
          <h4>CAJA DE PREVISIÓN SOCIAL</h4>
          <h5>Periodo: Sep-13 - Presente</h5>
          <p><em>Gerencia de Contabilidad y Finanzas</em></p>

          <ul>
            <li>Confección y control de presupuesto.</li>
            <li>Ejecuciones presupuestarias.</li>
            <li>Balances.</li>
          </ul>
        </div>
        <div class="experiencia-item">
          <h4>CODERHOUSE</h4>
          <h5>Periodo: Ago-22 - Presente</h5>
          <p><em>Tutor.</em></p>

          <p>Community Manager & Publicidad.</p>
        </div>
      </div>
    </div>
  </div>
</section>
