<!-- ======= Servicios ======= -->
<section id="services" class="services">
  <div class="container">
    <div class="section-title">
      <h2>Servicios</h2>
      <p>Mis servicios</p>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="icon-box">
          <div class="icon"><i class="bx bxl-dribbble"></i></div>
          <h4><a href="">Desarrollo Web</a></h4>
          <p>
            Cuento con habilidades en la creación y mantenimiento de sitios web
            de alta calidad utilizando diversas tecnologías como HTML, CSS,
            JavaScript y frameworks como Angular. Además, me apasiona mantenerme
            al día con las últimas tendencias y tecnologías en el campo del
            desarrollo web para ofrecer soluciones innovadoras y de alta calidad
            a mis clientes.
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-file"></i></div>
          <h4><a href="">Gestión de Redes Sociales</a></h4>
          <p>
            Poseo habilidades en la creación y administración de estrategias
            efectivas en redes sociales para aumentar el alcance y la
            visibilidad de una marca. Tengo experiencia en la creación de
            contenido atractivo y relevante, programación de publicaciones,
            monitoreo de métricas clave y en la gestión de la interacción con la
            comunidad en línea. Además, estoy siempre atento a las tendencias y
            cambios en el comportamiento del consumidor en línea para ajustar y
            optimizar las estrategias y obtener los mejores resultados.
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-tachometer"></i></div>
          <h4><a href="">Marketing & Publicidad</a></h4>
          <p>
            Cuento con habilidades en la planificación y ejecución de
            estrategias de marketing digital para aumentar la visibilidad de una
            marca en línea. Tengo experiencia en la gestión de campañas
            publicitarias en redes sociales y en motores de búsqueda, así como
            en la creación de contenido optimizado para SEO y en la gestión de
            la reputación en línea. Analizo los cambios en el comportamiento del
            consumidor en línea para ajustar y optimizar las estrategias y
            obtener los mejores resultados en términos de conversiones y ROI.
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-world"></i></div>
          <h4><a href="">Planificación estratégica</a></h4>
          <p>
            Diseño y ejecuto una estrategia de negocio efectiva para empresas,
            considerando factores como el mercado, la competencia, los recursos
            disponibles, los riesgos y las oportunidades.
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-slideshow"></i></div>
          <h4><a href="">Gestión Financiera</a></h4>
          <p>
            Superviso y administro el presupuesto y los recursos financieros de
            la empresa, garantizando una correcta operación de la misma y un
            crecimiento sostenible a largo plazo.
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-arch"></i></div>
          <h4><a href="">Diseño y Ejecución de estrategias</a></h4>
          <p>
            Creo y gestiono planes de acción para el logro de objetivos
            específicos. Identifico áreas de mejora, evaluo los recursos e
            implemento estrategias eficientes para alcanzar los resultados
            esperados. Gestiono equipos multidisciplinarios, en la medición de
            los resultados y en la implementación de medidas correctivas para
            garantizar el éxito del proyecto.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Servicios -->
